*{
    padding: 0;
    margin: 0;
    background-color: beige;
}
.content{
    justify-content: center;
    align-items: center;
}
.content h3{
    font-weight: bold;
    text-decoration: underline;
    color: red;
}
.content p{
    line-height: 1.5em;
    text-align: justify;
}